In [ ]:
a='Harika'
print(type(a))

<class 'str'>

In [ ]:
print(a[3])
print(a[-1])

i
a

In [ ]:
b="""i am
harika"""
print(b)

i am
harika

In [ ]:
print(len(a))
print(len(b))

6
11

In [ ]:
a

'Harika'

In [ ]:
del a

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
m='Harika'
n='Vani'
p=m+n
print(p)
q=m+' '+n
print(q)

HarikaVani
Harika Vani

In [ ]:
for i in p:
  print(i,end=' ')

H a r i k a V a n i

In [ ]:
'a' in m
'b' in n
'b' not in n

True

In [ ]:
'b' in n

False

In [ ]:
print('Harika \n Vani')
print("Harika \t Vani")
print("Harika \v Vani")
print("Harika \r Vani")

Harika
 Vani
Harika 	 Vani
Harika  Vani
 Vani

In [ ]:
print(r'\n')

\n

In [ ]:
name=input('Enter your name: ')
print('Hi {}, How are you?'.format(name))

Enter your name: harika
Hi harika, How are you?

In [ ]:
c='HARika'
print(c.upper())
print(c.lower())

HARIKA
harika

In [ ]:
words='a-b-c-d'
words.split('-')

['a', 'b', 'c', 'd']

In [ ]:
s = "abcd"
a="abcd"
if id(s) == id(a):
  print("They are same")
else:
  print("Not same")

They are same

In [ ]:
string=input()
ans=0
for i in string:
  if i == ' ':
    ans = ans+1
ans = ans+1
print(ans)

Hello world
2

In [ ]:
#lists and Tuples

In [ ]:
a=3
d=[]
d=[1,2,3.5,'Harika']
e=(1,2,3.5,'Harika')

In [ ]:
type(d)
type(e)

tuple

In [ ]:
d[3]

'Harika'

In [ ]:
f=[1,2,1,'Hv']
G=(1,2,3,1,'HN')

In [ ]:
print(d)
print(d[1:3])
print(d[:3])
print(d[1:])

[1, 2, 3.5, 'Harika']
[2, 3.5]
[1, 2, 3.5]
[2, 3.5, 'Harika']

In [ ]:
3.5 in d

True

In [ ]:
'H' in d

False

In [ ]:
d[0]

1

In [ ]:
d[0]='True'
print(d)

['True', 2, 3.5, 'Harika']

In [ ]:
d.insert(3,65)
print(d)

['True', 2, 3.5, 65, 'Harika', 65, 65]

In [ ]:
d.append('false')
print(d)

['True', 2, 3.5, 65, 'Harika', 65, 65, 'false']

In [ ]:
p=[3.4,6,7]
d.extend(p)
print(d)

['True', 2, 3.5, 65, 'Harika', 65, 65, 'false', 3.4, 6, 7]

In [ ]:
e.append(p)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(e)

(1, 2, 3.5, 'Harika')

In [ ]:
for vani in d:
  print(vani)

True
2
3.5
65
Harika
65
65
false
3.4
6
7

In [ ]:
for x in e:
  print(x)

1
2
3.5
Harika

In [6]:
a={1,2,3.5,'Harika'}

In [7]:
type(a)

set

In [8]:
print(a)

{1, 2, 3.5, 'Harika'}

In [16]:
a.add(5)
print(a)
a.add(4)
print(a)

{1, 2, 3.6, 3.5, 5, 'Harika'}
{1, 2, 3.6, 3.5, 5, 4, 'Harika'}

In [ ]:
#dictionaries

In [1]:
b={'name':'Hv','age':20,'marks1':98.5,'marks2':100}
print(b)

{'name': 'Hv', 'age': 20, 'marks1': 98.5, 'marks2': 100}

In [2]:
x=b.keys()
print(x)

dict_keys(['name', 'age', 'marks1', 'marks2'])

In [3]:
for i in b:
  print(i)

name
age
marks1
marks2

In [4]:
y=b.values()
print(y)

dict_values(['Hv', 20, 98.5, 100])

In [5]:
print(type(y))

<class 'dict_values'>

In [7]:
z=b.items()
print(z)

dict_items([('name', 'Hv'), ('age', 20), ('marks1', 98.5), ('marks2', 100)])

In [11]:
'age' in b

True

In [12]:
'hobbies' in b

True

In [13]:
b.update({'age':11})
b.values()

dict_values(['Hv', 11, 98.5, 100, ['playing games', 'Reading books']])

In [14]:
b['hobbies']=['playing games','Reading books']
b

{'name': 'Hv',
 'age': 11,
 'marks1': 98.5,
 'marks2': 100,
 'hobbies': ['playing games', 'Reading books']}