In [1]:
def myfunction():
  print('Hello my world')

In [2]:
myfunction()

Hello my world

In [3]:
#one Argument
def my_one(name):
  print('Hi',name)

In [6]:
my_one('Harika')

Hi Harika

In [7]:
#Two Arguments
def my_two(name,age):
  print('Hi',name,'your age is',age)
def sum(a,b):
  print('The sum is',a+b)

In [8]:
my_two('Harika',20)
sum(4,5)

Hi Harika your age is 20
The sum is 9

In [9]:
#Default Argument
def my_default(name='Harika'):
  print('Hi',name)
def my_default2(a=4,b=5):
  print('multiply of a and b',a*b)

In [18]:
my_default()
my_default('HV')
my_default2()
my_default2(a=8)
my_default2(b=8)

Hi Harika
Hi HV
multiply of a and b 20
multiply of a and b 40
multiply of a and b 32

In [19]:
#function Return type
def find_square(a):
  result=a*a
  return result

In [21]:
n=find_square(2)
print(n)

4

In [9]:
def find_sub(a,b):
  result=a-b
  return result
find_sub(2,8)

-6

In [28]:
def sayhi(name):
  """Hi function says hello"""
  print('Hi',name)
sayhi('Harika')

Hi Harika

In [29]:
print(sayhi.__doc__)

Hi function says hello

In [33]:
#Fritful function
def com(a,b):
  return a>b
com(5,7)

False

In [1]:
#Anonymous function or Lambda function
#syntax=>lambda inputargument:Exression
s=lambda n:(n+n%n)
print("answer",s(4))

answer 4

In [2]:
t=lambda n:n*n
for i in range(1,11):
  print("The square of {}is:{}".format(i,t(i)))

The square of 1is:1
The square of 2is:4
The square of 3is:9
The square of 4is:16
The square of 5is:25
The square of 6is:36
The square of 7is:49
The square of 8is:64
The square of 9is:81
The square of 10is:100

In [ ]:
###Recusion Topic###

In [7]:
#Factorial of a number
def fact(n):
  if n==1 or n==0:
    return 1
  else:
    return n*fact(n-1)
x=fact(3)
print(x)

6

In [6]:
#Power of a number
def pow(X,N):
  if N==0:
    return 1
  else:
    return X*pow(X,N-1)
x=pow(2,3)
print(x)

8